# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Model weights
*.pt
*.pth
*.ckpt
*.bin
*.safetensors
*.onnx

# Large data / checkpoints
checkpoints/
weights/
weight/
Weights/
Weight/
models/
outputs/
output/
output_demo/
runs/

# Optional: ignore datasets
data/
datasets/

# process file
*.mp4
*.txt